
<h4>Create a Easy to use Schedule for your business! <br>NO MORE PAPER!</h4>
<a class="btn btn-primary" href="/users/new">Get Started</a>
<h3><u>Example</u></h3>
<table class="table table-hover table-striped table-bordered">
	<tr>
		<th>Title</th>
	<% @days.each do |d| %>
		<th><%= d.day %></th>
	<% end %>
	</tr>
	<tr>
		<td>cook</td>
		<td value="monday">
			<select>
				<option>5-7pm</option>
				<option>you close up</option>
				<option selected>Bill</option>
			</select>
		</td>
		<td value="tuesday">
			<select>
				<option>5-7pm</option>
				<option>you close up</option>
				<option selected>Grant</option>
			</select>
		</td>
		<td value="wednesday">
			<select>
				<option>5-7pm</option>
				<option>you close up</option>
				<option selected>Billy</option>
			</select>
		</td>
		<td value="thursday">
			<select>
				<option>5-7pm</option>
				<option>you close up</option>
				<option selected>Melissa</option>
			</select>
		</td>
		<td value="friday">
			<select>
				<option>5-7pm</option>
				<option>you close up</option>
				<option selected>Sam</option>
			</select>
		</td>
		<td value="saturday">
			<select>
				<option>5-7pm</option>
				<option>you close up</option>
				<option selected>John</option>
			</select>
		</td>
		<td value="sunday">
			<select>
				<option>5-7pm</option>
				<option>you close up</option>
				<option selected>Pam</option>
			</select>
		</td>
	</tr>
</table>

























